doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/socket.io/socket.io.js")
		- each s in scripts
			script(src=s)

		script
			
			
			

	body
		block content