doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/socket.io/socket.io.js")
		- each s in scripts
			script(src=s)

		script
			// we need a socket on the client to get the message
			var socket = io.connect('http://localhost');	
			
			socket.on('event', function (data) {
				console.log( data );
				socket.emit('msg', 1);
			});
			
			

	body
		block content